body{
	background-color: #ff99cc;
	filter: brightness(100%);
	font-family: 'josefin Sans', Sans-serif;
}

.button {

	background-color: #be2edd;
	color: rgb(213, 220, 226);
	width: 45.6%; 
	position: absolute;
	margin-left: 12.9%;
  }

.radio-inline{
	margin: 0px 40px 20px 0px;
	cursor: pointer;
}

label{
	color: #000;
}

#text{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	width: 100%;
	color: #000;
}

#message{
	outline: none;
	border: none;
	padding: 10px 0px 0px 15px;
	font-size: 16px;
	color:#000;
	border-radius: 5px;
	width: 100%
}

